body {
    padding: 0;
    margin: 0;
    background-color: black;
    min-height: 100vh;
}


.navbar {
    width: 90%;
    height: 80px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;

}
.navbar a:hover{
    text-decoration: underline;
}

.Logo {
    font-size: 18px;
    font-family: figtree;
    color: white;
    text-decoration: none;

}

.contact {
    font-size: 18px;
    font-family: figtree;
    color: white;
    text-decoration: none;
}

.contactme a:hover {
    text-decoration: underline;
}

.userprofile {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}
.userprofile-image{
    width: 200px;
    height: 180px;
}

.image1 {
    height: 70%;
    position: absolute;
    left: 11%;
}

.userprofile h1 {
    font-family: figtree;
    color: white;
    font-size: 60px;
    font-weight: 700;
}


.userprofile2 p {
    margin: 0;
    color: #ffffff66;
    width: 50%;
    margin-left: 20%;
    font-size: 20px;
    font-family: figtree;
    line-height: 30px;
}
span{
    color: white;
}

.userwork {
    color: white;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15%;
    margin-top: 10%;
    padding: 0px 25px;
    border: 1px solid #ffffff33;
    border-radius: 50px;
    margin-bottom: 5%;

}

.userwork p {
    font-size: 25px;
}

.userworks{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 250px);
    gap: 15px;
    margin-bottom: 15%;
}

.userwork1 {
    background-color: grey;
    padding: 100px;
    text-align: center;
    border: 2px solid #ffffff80;
    border-radius: 10px;
    
}
.userwork1:hover{
    transform: scale(1.02);
}




.contact {
    width: 90%;
    text-align: center;
}

.contact h1 {
    font-family: figtree;
    font-size: 64px;
    color: #ffebee;
    font-weight: 800;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    font-family: figtree;
    line-height: 24px;
    color: #ffffff80;
    
}
.social1 a{
    color: white;
    font-family: figtree;
    text-decoration: none;
}.social1{
    width: 6%;
    padding: 8px 20px;
    border: 1px solid grey;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.social2 a{
    color: white;
    font-family: figtree;
    text-decoration: none;
}

.social2{
    width: 7%;
    padding: 8px 20px;
    border: 1px solid grey;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.social3 a{
    color: white;
    font-family: figtree;
    text-decoration: none;
}
.social3{
    width: 1%;
    padding: 8px 20px;
    border: 1px solid grey;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.socialmedia{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;

}

.ilink {
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 4px;
    width: 11%;
    padding: 12px 15px;
    margin: auto;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 5%;
    
}

.ilink a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: figtree;
    
}
.social1 a:hover{
    color: grey;
    text-decoration: underline;
}
.social2 a:hover{
    color: grey;
    text-decoration: underline;
}
.social3 a:hover{
    color: grey;
    text-decoration: underline;
}

.ilink a:hover {
    text-decoration: underline;
    color: grey;
}
/* meadi query section */

@media (max-width 700px;) {
    .navbar{
        width: 100%;
    }
    .userprofile-image{
        width: 100px;
        height: 80px;
        position: relative;
        bottom: 100%;
        left: 30%;

    }
}


