body {
    padding: 0;
    margin: 0;
    background-color: black;
    min-height: 100vh;
}


.navbar {
    width: 90%;
    height: 80px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;

}
.navbar a:hover{
    text-decoration: underline;
}

.Logo {
    font-size: 30px;
    color: white;
    text-decoration: none;

}

.contact {
    color: white;
    text-decoration: none;
}

.contactme a:hover {
    text-decoration: underline;
}

.userprofile {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.image1 {
    height: 100%;
    position: absolute;
    left: 11%;
}

.userprofile h1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
}


.userprofile2 p {
    margin: 0;
    color: grey;
    width: 50%;
    margin-left: 20%;
    font-size: 30px;
}
span{
    color: white;
}

.userwork {
    color: white;
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15%;
    margin-top: 10%;
    padding: 0px 25px;
    border: 1px solid grey;
    border-radius: 50px;
    margin-bottom: 5%;

}

.userwork p {
    font-size: 25px;
}

.userworks{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, 250px);
    gap: 15px;
    margin-bottom: 15%;
}

.userwork1 {
    background-color: grey;
    padding: 100px;
    text-align: center;
    border: 1px solid blue;
    border-radius: 5px;
    
}

.contact {
width: 90%;
text-align: center;
}

.contact h1 {
font-size: 45px;
color: white;
}

.contact p {
font-size: 20px;
color: grey;
}

.social1 {
width: 8%;
padding: 10px 20px;
border: 1px solid grey;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 2px;


}
.social1 a{
color: white;
text-decoration: none;
}
.social2 {
width: 8%;
padding: 10px 20px;
border: 1px solid grey;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 2px;
}

.social2 a{
color: white;
text-decoration: none;
}
.social3 {
width: 4%;
padding: 10px 20px;
border: 1px solid grey;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 2px;
}
.social3 a{
color: white;
text-decoration: none;
}
.socialmedia{
display: flex;
justify-content: center;
gap: 10px;
margin-bottom: 15px;

}

.ilink {
display: flex;
justify-content: center;
background-color: white;
gap: 7px;
width: 9%;
padding: 13px 30px;
margin: auto;
align-items: center;
border-radius: 10px;
margin-bottom: 5%;
}

.ilink a {
text-decoration: none;
color: black;
}

.ilink a:hover {
text-decoration: underline;
}