body {
    padding: 0;
    margin: 0;
    background-color: black;
    min-height: 100vh;
}

.navbar {
    
    width: 90%;
    height: 80px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;

}

.Logo {
    font-size: 30px;
    color: white;
    text-decoration: none;

}
.navbar a:hover{
    text-decoration: underline;
}

.about {
    color: white;
    text-decoration: none;
}

.aboutme a:hover {
    text-decoration: underline;
}

.firstheader {
    width: 1270px;
    margin: auto;
    height: 366px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    line-height: 15px;
    display: flex;
    justify-content: center;


}

.firstheader h2 {
    font-size: 80px;
    font-weight: 800;
    color: white;
    /* padding: 10px; */
}

.firstheader p {
    font-size: 50px;
    color: #ffebee;
}

.content1 {
    display: flex;
    justify-content: space-between;

}

.content2 {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.paragraph2 {

    margin-top: 2%;
    padding-left: 7%;
    font-size: 20px;
    color: grey;

}

.links a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    top: 15px;

}

.links a:hover {
    text-decoration: underline;

}

span {
    color: white;
}

.paragraph1 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;

}

.project1 {
    width: 90%;
    margin-left: 6%;
    margin-top: 8%;
    position: relative;
    margin-bottom: 10%;
}

.project2 {
    display: flex;
    justify-content: space-between
}


.container {
    background-color: white;
    border-radius: 10px;
    width: 28%;
    height: 220px;
    position: absolute;
    left: 65%;
    top: 130px;
    transform: rotate(-25deg);
    transform: transform 0.5s ease;
}

.project1 h1 {
    font-size: 45px;
    color: white;
}

.project1 h2 {
    font-size: 30px;
    color: white;
}

.project1 p {
    font-size: 20px;
    color: grey;
}

.class1 {
    width: 5%;
    padding: 7px;
    background-color: #141747;
    color: white;
    border-radius: 5px;

}

.class2 {
    width: 4%;
    padding: 7px;
    background-color: #141747;
    color: white;
    border-radius: 5px;
}

.class3 {
    width: 6%;
    padding: 7px;
    background-color: #141747;
    color: white;
    border-radius: 5px;

}

.classes {
    display: flex;
    gap: 15px;
    text-align: center;
}

.demo {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.demo1 {
    background-color: black;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
}

.code {
    background-color: black;
    color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;

}

.project3 h2 {
    font-size: 30px;
    color: white;
}

.project3 p {
    font-size: 20px;
    color: grey;
}

.vortipay {
    display: flex;
    justify-content: space-between;

}

.project3 {
    width: 90%;
    margin-left: 6%;
    margin-top: 8%;
    position: relative;
    margin-bottom: 10%;
}

.vortipaycontainer {
    background-color: white;
    border-radius: 10px;
    width: 28%;
    height: 220px;
    position: absolute;
    left: 65%;
    top: 70px;
    transform: rotate(-20deg);
    transform: transform 0.5s ease;
}

.project4 h2 {
    font-size: 30px;
    color: white;
}

.project4 p {
    font-size: 20px;
    color: grey;
}

.project4 {
    width: 90%;
    margin-left: 6%;
    margin-top: 8%;
    position: relative;
    margin-bottom: 20%;
}

.landingpage {
    display: flex;
    justify-content: space-between;
}

.landingpagecon {
    background-color: white;
    border-radius: 10px;
    width: 28%;
    height: 220px;
    position: absolute;
    left: 65%;
    top: 70px;
    transform: rotate(-20deg);
    transform: transform 0.5s ease;
}

.contact {
    width: 90%;
    text-align: center;
}

.contact h1 {
    font-size: 45px;
    color: white;
}

.contact p {
    font-size: 20px;
    color: grey;
}

.social1 {
    width: 8%;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;


}
.social1 a{
    color: white;
    text-decoration: none;
}
.social2 {
    width: 8%;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.social2 a{
    color: white;
    text-decoration: none;
}
.social3 {
    width: 4%;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.social3 a{
    color: white;
    text-decoration: none;
}
.socialmedia{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;

}

.ilink {
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 7px;
    width: 9%;
    padding: 13px 30px;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5%;
}

.ilink a {
    text-decoration: none;
    color: black;
}

.ilink a:hover {
    text-decoration: underline;
}

